{% load static %}  
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Background Video{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
<script src="{% static 'js/index.js' %}"></script>
<nav class="nav">
<div class="menu">
      <ul>
	<li><a class="list-items" id="Calendar" href="{% url 'calendar' %}">History</a></li>
        <li><a class="list-items" id="Carousel" href="{% url 'loading' %}">New (Ollama)</a></li>
        <li><a class="list-items" id="Carouge" href="{% url 'logs' %}">Database</a></li>
        <li><a class="list-items" id="Carreaux" href="{% url 'help' %}">Help</a></li>
	{% if user.is_authenticated %}
            <li><a class="list-items" id="SignOut" href="{% url 'logout' %}">Sign Out</a></li>
            <li><a class="list-items" id="Carrefour" href="{% url 'user_view' id=1 %}">{{ user.username }}</a></li>
        {% else %}
            <li><a class="list-items" id="SignIn" href="{% url 'signin' %}">Sign In</a></li>
        {% endif %}
      </ul>
</div>
</nav>

      {% block content %}{% endblock %}
  </body>
</html>
