{% extends "gabarit.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

{% if messages %}
    <script type="text/javascript">
            {% for message in messages %}
                    alert("{{ message }}");  // Affiche le message dans une alerte bloquante
            {% endfor %}
    </script>
{% endif %}

  <div class="wrapper">
    <!-- Login Form -->
    <div class="form-wrapper sign-in">
      <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
        <div class="input-group">
          <input type="text" name="username" required>
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" required>
          <label for="password">Password</label>
        </div>
        <div class="remember">
          <label><input type="checkbox" name="remember_me"> Remember me</label>
        </div>
        <button type="submit">Login</button>
        <div class="signUp-link">
          <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
        </div>
      </form>
    </div>

    <!-- Sign Up Form -->
    <div class="form-wrapper sign-up">
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <div class="input-group">
          <input type="text" name="username" required>
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input type="email" name="email" required>
          <label for="email">Email</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" required>
          <label for="password">Password</label>
        </div>
        <div class="remember">
          <label><input type="checkbox" name="agree_terms"> I agree to the terms & conditions</label>
        </div>
        <button type="submit">Sign Up</button>
        <div class="signUp-link">
          <p>Already have an account? <a href="#" class="signInBtn-link">Sign In</a></p>
        </div>
      </form>
    </div>
  </div>

<script src="{% static 'js/signin.js' %}"></script>

{% endblock %}
